---
import Layout from '../layouts/Layout.astro';
import Latest from '../layouts/Latest.vue';
import JobCards from '../layouts/JobCards.vue';
import Button from '../components/Button.vue';

const API_URI = 'https://opafstandwerken-api-production.up.railway.app/api/VacancyItems';

const response = await fetch(API_URI);
const data = await response.json();

const page = {
	welcome: {
		title: "Op afstand werken.",
		subtitle: "Wij werken als designer, engineer, tester en meer op afstand voor verschillende bedrijven in Nederland."
	},
	popular: {
		title: "Bekijk uitgelichte vacatures",
	}
}
---

<Layout
	title="Welcome to Astro."
>
	<main>
		<div class="welcome">
			<div class="welcome-message">
				<h1>{page.welcome.title}</h1>
				<p>{page.welcome.subtitle}</p>
			</div>
			<div class="welcome-action-vacancy">
				<Button 
					title="Plaats een vacature" 
					url="mailto:rohitjethoe@proton.me" 
					client:load
				/>
			</div>
		</div>
		<div class="popular">
			<div class="popular-title">
				<h1>
					{page.popular.title}
				</h1>
			</div>
			<div class="popular-vacancies">
				<JobCards 
					jobCardsData={data} 
					client:load
				/>
			</div>
		</div>
		<Latest 
			API_URI={API_URI} 
			listingData={data}
			client:load 
		/>
	</main>
</Layout>

<style lang='scss'>
	.welcome {
		width: 650px;
		margin: 0 auto;
		margin-bottom: 60px;
		.welcome-message {
			text-align: center;
			margin: 30px 0px;
			h1 {
				font-size: 46px;
				text-transform: uppercase;
				font-weight: 400;
			}
			p {
				font-size: 24px;
				color: #7e7e7e
			}
		}
		.welcome-action-vacancy {
			text-align: center;
		}
	}

	.popular {
		background-color: #fff;
		border-top: 1px solid #E3E3E3;
		border-bottom: 1px solid #E3E3E3;
		padding: 30px 0px;
		.popular-title {
			h1 { 
				font-weight: 400;
				font-size: 32px;
				text-align: center;
			}
		}
		.popular-vacancies {
			width: 90vw;
			margin: 40px auto;
			display: flex;
			justify-content: space-between;
		}
	}

	@media only screen and (max-width: 700px) {
		.welcome {
			width: 350px;
			.welcome-message {
				h1 {
					font-size: 30px;
				}
				p {
					font-size: 14px;
				}
			}
		}
		.popular {
			.popular-title {
				h1 {
					font-size: 24px;
				}
			}
			.popular-vacancies {
				width: 350px;
				margin: 40px auto;
				display: block;
			}
		}
	}

	@media only screen and (min-width: 1240px) {
		.popular {
			.popular-vacancies {
				width: 1000px;
			}
		}
	}
</style>
